.account-info {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .account-info ul {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
  }
  
  .account-info li {
    margin-bottom: 0.5rem;
    font-weight: 300;
  }
  
  .account-info span {
    margin-left: 0.2rem;
    font-size: large;
    font-weight: 700;
  }
  
  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    margin: 0;
  }
  
  @media (max-width: 650px) {
    .account-info {
      width: 337.5px;
    }
  }
  
  @media (min-width: 650px) {
    .account-info {
      width: 450px;
    }
  }
  
  @media (min-width: 1100px) {
    .account-info {
      width: 20%;
      display: flex;
      justify-content: left;
    }
  }
  